## Preamble

In [1]:
from basic_manabase import BasicManabase
from talisman_manabase import TalismanManabase
from rampant_growth_manabase import RampantGrowthManabase
from utils import compute_possible_draws

## Params

In [2]:
number_of_given_card = 1
cmc_of_given_card = 3
number_of_lands = 40
number_of_basic_lands = 12
number_of_talismans = 3
number_of_rampant_growths = 3

## Basic Manabase

In [3]:
basic_manabase = BasicManabase(number_of_given_card = number_of_given_card,
                                number_of_lands = number_of_lands,
                               cmc_of_given_card = cmc_of_given_card)

In [4]:
basic_manabase.pa_df

     Draw 0    Draw 1    Draw 2   Draw 3    Draw 4    Draw 5    Draw 6
0  0.070707  0.080808  0.090909  0.10101  0.111111  0.121212  0.131313

In [5]:
basic_manabase.pb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.593712  0.702056  0.787779  0.852684  0.900086  0.933662  0.956819

In [6]:
basic_manabase.pab_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.033447  0.048719  0.064616  0.080351  0.095457  0.109722  0.123118

In [7]:
basic_manabase.palb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.056336  0.069394  0.082023  0.094234  0.106053  0.117518  0.128674

In [8]:
basic_manabase.pbla_df

     Draw 0    Draw 1    Draw 2   Draw 3    Draw 4    Draw 5    Draw 6
0  0.473037  0.602893  0.710774  0.79548  0.859111  0.905208  0.937587

## Talisman Manabase

In [9]:
talisman_manabase = TalismanManabase(number_of_given_card = number_of_given_card,
                                number_of_lands = number_of_lands,
                               number_of_talismans = number_of_talismans,
                               cmc_of_given_card = cmc_of_given_card)

In [10]:
talisman_manabase.pa_df

     Draw 0    Draw 1    Draw 2   Draw 3    Draw 4    Draw 5    Draw 6
0  0.070707  0.080808  0.090909  0.10101  0.111111  0.121212  0.131313

In [11]:
talisman_manabase.pb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.655881  0.759412  0.836999  0.892585  0.930962  0.956632  0.973332

In [12]:
talisman_manabase.pab_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.037807  0.053746  0.069791  0.085245  0.099784  0.113343  0.126009

In [13]:
talisman_manabase.palb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.057643  0.070773  0.083383  0.095504  0.107183  0.118481  0.129461

In [14]:
talisman_manabase.pbla_df

   Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.5347  0.665102  0.767703  0.843928  0.898053  0.935076  0.959606

## Rampant Growth Manabase

In [15]:
rampant_growth_manabase = RampantGrowthManabase(number_of_given_card = number_of_given_card,
                                            number_of_lands = number_of_lands,
                                            number_of_rampant_growths = number_of_rampant_growths,
                                           number_of_basic_lands = number_of_basic_lands,
                                           cmc_of_given_card = cmc_of_given_card)

In [16]:
rampant_growth_manabase.pa_df

     Draw 0    Draw 1    Draw 2   Draw 3    Draw 4    Draw 5    Draw 6
0  0.070707  0.080808  0.090909  0.10101  0.111111  0.121212  0.131313

In [17]:
rampant_growth_manabase.pb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.655881  0.759412  0.836999  0.892585  0.930962  0.956632  0.973332

In [18]:
rampant_growth_manabase.pab_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.037807  0.053746  0.069791  0.085245  0.099784  0.113343  0.126009

In [19]:
rampant_growth_manabase.palb_df

     Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.057643  0.070773  0.083383  0.095504  0.107183  0.118481  0.129461

In [20]:
rampant_growth_manabase.pbla_df

   Draw 0    Draw 1    Draw 2    Draw 3    Draw 4    Draw 5    Draw 6
0  0.5347  0.665102  0.767703  0.843928  0.898053  0.935076  0.959606